
<div class="animate__animated animate__fadeIn">
    <div class="m-3">
        <h2 class="text-center text-title"> {{ nombre }} </h2>
        <p id="textoProducto" class="card-text content"> {{ descripcion }} </p>
        <img [src]="imagen" class="img-thumbnail img-fluid img-service">
        
    </div>
        
    <div class="mx-auto d-block text-center">
        <button class="btn btn-danger text-button m-3">
        <a routerLink="/contacto" style="color: white;">
            Comprar producto
        </a>
        </button>
    </div>
</div>

<!-- <button type="submit" class="btn btn-danger m-3">Comprar producto</button> -->


