
<div class="animate__animated animate__fadeIn">

  <!-- NAVBAR MENU -->
    <div class="container-information pt-2">
      
        <div class="col-2">
            <img class="imagen-logo" [src]="imagenLogo" id="logo" routerLink="/index" style="cursor: pointer" />
        </div>
        <div class="col-10">
      
          <div class="col-11 position-options">
            <a class="" style="margin-right: 1%; margin-top: 3px;" href="mailto:complise.soporte@gmail.com?Subject=Buen%20día,%20quisiera%20saber%20más%20sobre%20este%20servicio.%20(Escriba%20el%20producto/servicio%20requerido)">
              <i class="fa fa-envelope" style="color: black"></i>
            </a>
      
            <a class="" style="margin-right: 1%; margin-top: 3px;" href="tel:+528183472525">
              <i class="fa fa-mobile" style="color:black"></i>
            </a>
      
            <a class="" style="margin-right: 1%; margin-top: 3px;" href="https://es-la.facebook.com/www.complise.mx">
              <i class="fa-brands fa-facebook"></i>
            </a>
      
            <input class="searchbar text-center" placeholder="Buscar" style="font-family: 'Roboto';"/>
            <i class="fa fa-search icon-position"></i>
          </div>
      
          <div class="col-12">
            <ul class="list-group-menu">
              <li class="list-item-menu" *ngFor="let pagina of paginasArray">
      
                <a [routerLink]="pagina.ruta" class="ml-3 text-option-menu">              
                  {{ pagina.nombre }}
                </a>
              </li>
      
            </ul>
          </div>
      
        </div>
      
      </div>


  <!-- NAVBAR MENU VISTA MOVIL -->
  <div class="menu-container">

    <div class="container-menu-logo-mobile">
      <img class="image-logo-mobile" routerLink="/index" [src]="imagenLogo" />
    </div>
  
    <div class="container-icon-menu">
      <i class="fa fa-bars" (click)="activarMenu()"></i>
    </div>
    
    <div *ngIf="mostrarMenu === true" class="capa-fondo animate__animated animate__fadeIn">
      <div class="panel-lateral-menu">
        <div class="" (click)="cerrarMenu()">
          <i class="fa fa-solid fa-xmark" style="color: white; margin:10%; font-size: 2rem;"></i>
        </div>
        <ul class="list-group-menu" style="padding: 0px">
          <li class="list-item-menu" *ngFor="let pagina of paginasArray">
            <!-- <i class="fa fa-arrow-right" style="color: white;margin-right: 5%; font-size: calc(1vw + 1rem);"></i> -->
            <a [routerLink]="pagina.ruta" class="ml-3" style="font-size: calc(1vw + 1rem);">{{pagina.nombre}}</a>
          </li>
        </ul>
  
        <ul class="list-group-item">
          <li class="list-item-menu"><a href="mailto:complise.soporte@gmail.com?Subject=Buen%20día,%20quisiera%20saber%20más%20sobre%20este%20servicio.%20(Escriba%20el%20producto/servicio%20requerido)"><i class="fa fa-envelope " style="display: block; margin: auto; text-align: center; font-size: 25px;"></i></a></li>
          <li class="list-item-menu"><a href="tel:+528183472525"><i class="fa fa-mobile" style="display: block; margin: auto; text-align: center;  font-size: 25px;"></i></a></li>
          <li class="list-item-menu "><a href="https://es-la.facebook.com/www.complise.mx"><i class="fa-brands fa-facebook" style="display: block; margin: auto; text-align: center;  font-size: 25px; color: white"></i></a></li>
        </ul>
  
      </div>
      
    </div>
  
    <div class="menu-show">
      <ul class="list-group-menu" style="display: flex; justify-content: flex-end;">
        <li class="list-item-menu" style="margin-right: 2%;" *ngFor="let pagina of paginasArray">
          <a [routerLink]="pagina.ruta">{{ pagina.nombre }}</a>
        </li>
      </ul>
    </div>
    
  </div>



    <div class="m-3">
        <h2 class="text-center text-title"> {{ nombre }} </h2>
        <p id="textoProducto" class="card-text content"> {{ descripcion }} </p>
        <img [src]="imagen" class="img-thumbnail img-fluid img-service">
        
    </div>
        
    <div class="mx-auto d-block text-center">
        <button class="btn btn-danger text-button m-3">
        <a routerLink="/contacto" style="color: white;">
            Comprar producto
        </a>
        </button>
    </div>
</div>

<!-- <button type="submit" class="btn btn-danger m-3">Comprar producto</button> -->


