/*  CARDS */

.title-product{
    font-family: 'Raleway';
    text-align: center;
}

.card-img-top{
    width: 100%;
    height: 200px;
}

.card{
    border-color: white;
    transition: all linear 0.3s;
}

.card:hover{
    border-color: rgba(60,60,60,0.3);
    background: rgba(60,60,60,0.2);
    border-width: 1px;
    border-style: solid;
    cursor:pointer
}


.card-text{
    text-align: justify;
}

.card-title{
    text-align: center;
    font-family: 'Arial';
}

@media screen and (min-width: 320px) and (max-width: 480px){
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .card-group{
        display: block;
        margin: auto;
        min-width: 50%;
        max-width: 60%;
    }
    .card-img-top{
        height: 20vh;
    }
    .title-product{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .card-text{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .card-group{
        display: block;
        margin: auto;
        min-width: 50%;
        max-width: 60%;
    }
    .card-img-top{
        height: 20vh;
    }
    .title-product{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .card-text{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px){

}
@media screen and (min-width: 1201px){
}

/* 
@media screen and (min-width: 320px) and (max-width: 480px){
    
}
@media screen and (min-width: 481px) and (max-width: 768px){

}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px) and (max-width: 1200px){

}
@media screen and (min-width: 1201px){

} */