<div class="row container-fluid">
    <div class="col-12 col-sm-4 col-md-4 col-xl-4 text-center">
      <i class="fa-solid fa-mobile-screen fa-3x"></i>
      <p>Llamanos: 8333 8340, 8347 2525, 8347 1236</p>
      <p>Lunes a Viernes (8am-6pm)</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-xl-4 text-center">
      <i class="fa-solid fa-envelope fa-3x"></i>
      <p>Correo: soporte@complise.com</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-xl-4 text-center">
      <i class="fa-solid fa-location-dot fa-3x"></i>
      <p>Ubicacion: Casas Grandes 113</p>
      <p>Mitras Centro, 64460 Monterrey, N.L.</p>
    </div>
  </div>