.text-information{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: calc(1vw + 0.6rem);
}

.row{
    margin: auto !important;
}

@media screen and (min-width: 1201px){
    .text-information{
        font-size: calc(1vw + 0.2rem);
    }   
}