<!-- <div class="container" *ngFor="let item of serviciosArray">
<h2>{{ item.nombre }}</h2>
<h2>{{ item.descripcion}}</h2>
<h2>{{ item.imagen }}</h2>

</div> -->

<!-- <div class="row">

    <div class="container-menu-logo">
    <img class="image-logo" [src]="imagenLogo" />
    </div>
    
    <div class="container-menu-options">
      <div class="container-info">
        <a href="https://web.whatsapp.com/%F0%9F%8C%90/es">
          <i class="fa fa-phone "></i>
          <span class="phone-number">81 8347 2525</span>
        </a>
        <input class="searchbar text-center" placeholder="Buscar"/>
        <i class="fa fa-search margin-icon"></i>
        <a href="https://es-la.facebook.com/www.complise.mx">
          <i class="fa-brands fa-facebook fa-xl margin-icon"></i>
        </a>
       </div>
    </div>
  
  </div> -->

<div class="m-3">
  <h2 class="text-center text-title"> {{ nombre }} </h2>
  <p class="card-text"> {{ descripcion }} </p>
  <img [src]="imagen" class="img-thumbnail img-fluid img-service">

</div>

<div class="mx-auto d-block text-center">
  <button class="btn btn-danger text-button m-3">Solicitar servicio</button>
</div>

<!-- CODIGO DE PRUEBAS -->
<!-- <div class="row m-2">
  <div class="col-4 mb-5" style="">
    <div class="main-card">
      <img src="assets/imagenes/img13.jpg" class="imagen-service">
  
      <div class="container-info">
        <p class="title-information">Med2k</p>
        <p class="text-information">Sistema para control y gestion de Hospitales</p>
      </div>
    </div>
  </div>
  <div class="col-4 mb-5" style="">
    <div class="main-card">
      <img src="assets/imagenes/img13.jpg" class="imagen-service">
  
      <div class="container-info">
        <p class="title-information">Med2k</p>
        <p class="text-information">Sistema para control y gestion de Hospitales</p>
      </div>
    </div>
  </div>
  <div class="col-4 mb-5" style="">
    <div class="main-card">
      <img src="assets/imagenes/img13.jpg" class="imagen-service">
  
      <div class="container-info">
        <p class="title-information">Med2k</p>
        <p class="text-information">Sistema para control y gestion de Hospitales</p>
      </div>
    </div>
  </div>

</div> -->



<!-- <div cs -->

<!-- <div class="container-info2 mb-5">
  <p class="title-information">Med2k</p>
  <p class="text-information">Sistema para control y gestion de Hospitales</p>
</div> -->



<!-- <div class="container-img">
    <img src="/assets/imagenes/ventaEquipos.jpg" class="img-service1" />
    <div class="capa-imagen">
    </div>
</div> -->