.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.carousel-caption{
margin-bottom: 10%;
}

.carousel-caption-mobile{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

/* CONTAINER DIVS */
.container-contact-search{
    display: flex;
    padding-top: 1%;
}
.container-contact-search a{
    text-decoration: none;
    color: black;
    transition: all linear 0.5s;
}
.container-contact-search a:hover{
    color: blue;
}

.menu-container{
    margin: 0 auto;
    width: 100%;
}

.container-logo{
margin-left: 5%;
}

.container-info{
    float: right;
}

/* INFORMATION CONTACT */
.icon-contact{
    width: 20px;
}
.phone-number{
    font-family: 'Roboto';
    padding-right: 10px;
    font-size: 12px;
    font-weight: 700;
}
.searchbar{
    border-radius: 10px;
    width: 200px;
}
.icon-facebook{
    
}

/* IMAGE LOGO COMPLISE */
.image-logo{
    width: 100%;
    margin: auto;
    display: block;
}

.image-logo-mobile{
    width: 100%;
}

/* NAVBAR MENU */
.list-group-menu{
    list-style: none;
    /* margin-left: 80%; */
}
.list-item-menu{
    font-family: 'Raleway';
    display: inline;
}
.list-item-menu a{
    color: rgb(91, 83, 76);
    text-decoration: none;
    line-height: 20px;
    padding-right: 3%;
}

/* CAROUSEL */
.title-carousel{
    color: white;
}
.text-carousel{
    color: white;
    font-size: 30px;
}

.title-carousel-mobile{
    color:white;
    font-size: calc(1vw + 1rem);
}

.text-carousel-mobile{
    color:white;
    font-size: calc(1vw + 0.7rem);
    font-family: 'Raleway';
}

.image-responsive-bg{
    width: 100%;
    /* height: 85vh; */
    /* height: calc(50vh/1.5); */
    height: auto;
}

/* TITLE SECTION */

.title-services{
    /* font-size: 40px; */
    font-size: calc(1vw + 1rem);
    /* font-family: 'Raleway'; */
    font-weight: bold;
    text-align: center;
}


/* PROMOCIONES SECTION */

.container-section{
    background: rgba(104, 104, 104, 0.31);
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
}

.container-card{
    display: flex;
    background: white;
    width: 25%;
    height: 200px;
    margin: 2%;
    border-radius: 10px
}

/*  CARDS */

.title-product{
    font-family: 'Raleway';
    text-align: center;
}

.card-img-top{
    width: 100%;
    /* height: 40vh; */
    height: auto;
    margin: 0;
    padding: 0;
}

.card{
    border-color: white;
    transition: all linear 0.3s;
    position: relative;
}

.card-text{
    text-align: justify;
}

.card-title{
    text-align: center;
    font-family: 'Arial';
}

.card-img-promo{
    width: 100%;
    /* height: 300px; */
    height: auto;
}

/* SECTION CLIENTS */

.img-cliente{
    height: 10vh;
}

/* SECTION CONTACT */

.container-contact{
    width: 100%;
    background: rgba(200,200,200,0.4);
    height: auto;
}

.container-footer{
    background: #444444;
    bottom: 0;
    padding: 1em 0;
}

.body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.line-title{
    width: 50%;
    margin-left: auto!important;
    margin-right: auto!important;
}

.capahover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all linear 0.3s;
    cursor: pointer;
    border: 3px solid black;
    border-left: 3px;
    /* border-top: 3px; */
    border-right: 0px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}


.capahover:hover{
    opacity: 1;
}

.panel-lateral-menu{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100vh;
    background: rgba(90,90,90,1);
}

.capa-fondo{
    background: rgba(104, 104, 104, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    
}

.container-icon-menu{
    /* display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-bottom: 2%; */
    position: absolute;
    float: right;
    top: 2%;
    right: 2%;

}

.menu-show{
    display: none;
}

.margin-icon{
    margin-left: 1%;
}

.container-menu-logo-pc{
    width: 30%;
    height: auto;
    display: none;
}

.container-menu-options{
    width: 70%;
    height: auto;
}

.container-top{
    display: flex; flex-wrap: wrap; margin-top: 1%;
}

/* MOBILE DEVICES */
@media screen and (min-width: 320px) and (max-width: 480px){

    .container-top{
        display: none;
    }

    /* IMAGE LOGO COMPLISE */

    .image-logo-mobile{
        width: 40%;
    }

    .container-menu-logo-mobile{ display: flex; margin: 1%; }

    .container.menu-logo-pc{ display: none; }

    /* INFORMATION CONTACT */

    .container-menu-options{
        display: none;
    }

    
    /* CAROUSEL */

    .text-carousel{
        color: white;
        font-size: 30px;
    }

    .carousel-caption{
        opacity: 0;
    }

    /* NAVBAR MENU */

    .panel-lateral-menu{ width: 50%; } 
    
    .list-item-menu{
        font-family: 'Raleway';
        display: block;
        margin-top: 10%;
    }
    .list-item-menu a{ color: white; }

    .menu-container{ width: 100%; }
    
    .container-logo{ margin-left: 1%; }

    .container-info{ margin-left: 1%; }

    .phone-number{ font-size: 10px; }

    .searchbar{ width: 30vw; font-size: 10px; height: 30px;}

    .fa-facebook{ font-size: 15px; margin-right: 1%;}

    .fa-phone{ font-size: 12px; }

    .fa-search{ font-size: 14px;}

    .list-group-menu{ list-style: none; }

    .image-responsive-bg{ min-height: 30vh; max-height: 50vh; }

    .carousel-cation{ margin-bottom: 20%; }

    .line-title{ width: 45%; }

    .img-cliente{ height: 20vh; }

    .margin-icon{
        margin-left: 3%;
    }

}
/* IPADS - TABLETS */
@media screen and (min-width: 481px) and (max-width: 768px){

    .container-top{
        display: none;
    }

    /* IMAGE LOGO COMPLISE */

    .image-logo-mobile{
        width: 30%;
    }

    .container-menu-logo-mobile{ display: flex; margin-bottom: 2%; margin-left: 2%; }

    .container.menu-logo-pc{ display: none; }

    /* INFORMATION CONTACT */

    .container-menu-options{
        display: none;
    }

    /* CAROUSEL */

    .carousel-caption{
        opacity: 0;
    }

    /* LATERAL MENU */
    .panel-lateral-menu{ width: 50%; } 
    
    .list-item-menu{
        font-family: 'Raleway';
        display: block;
        margin-top: 10%;
    }
    .list-item-menu a{ color: white; }

    .menu-container{
        margin: 0 auto;
        width: 100%;
    }
    
    .container-logo{ margin-left: 1%; }

    .container-info{ margin-left: 25%;}

    .searchbar{ width: 28vw; }

    .fa-facebook{ font-size: 20px; }

    .list-group-menu{
        list-style: none;
        margin-left:10%;
    }

    .fa-bars{ font-size: 2rem; }

    .image-responsive-bg{ height: 50vh; }

    .line-title{ width: 40%; }

    .img-cliente{ height: 40vh; }

}
/* SMALL SCREENS , LAPTOPS */
@media screen and (min-width: 769px) and (max-width: 1024px){


    .container-top{
        display: none;
    }

    .container-menu-logo-pc{
        display: flex;
    }

    /* IMAGE LOGO COMPLISE */

    .image-logo-mobile{
        width: 30%;
    }

    .fa-bars{ font-size: 2rem; }

    .container-menu-logo-mobile{ display: flex; margin-bottom: 2%; margin-left: 2%; }

    .container.menu-logo-pc{ display: none; }

    /* INFORMATION CONTACT */

    .container-menu-options{
        display: none;
    }



    /* CAROUSEL */

    .carousel-caption-mobile{
        opacity: 0;
    }

    .menu-container{
        margin: 0 auto;
        width: 100%;
    }
    
    .container-logo{ margin-left: 1%; }

    .container-info{ margin-left: 30%; }

    .searchbar{ width: 28vw }

    .list-group-menu{
        list-style: none;
        margin-left: 65%;
    }

    /* .image-responsive-bg{ height: 50vh; } */

    .line-title{ width: 30%; }

    .img-cliente{ height: 35vh; width: 200px;}

}
/* DEKTOPS, LARGE SCREENS */
@media screen and (min-width: 1025px) and (max-width: 1200px){

    /* IMAGE LOGO COMPLISE */

    .container-menu-logo-mobile{ display: none; }

    .container-menu-logo-pc{ display: flex; }

    .image-logo{
        width: 40%;
        margin: auto;
        display: block;
    }

    /* MENU OPTIONS */

    .container-info{
        min-width: 34vw;
        max-width: 35vw;
    }

    .container-icon-menu{
        display: none;
    }

    /* CAROUSEL */

    .text-carousel{
        color: white;
        font-size: calc(1vw + 1rem);
    }

    .carousel-caption-mobile{
        opacity: 0;
    }

    /* .image-responsive-bg{ height: 50vh; } */

    .line-title{ width: 30%; }

    .img-cliente{ height: 35vh; width: 200px;}

    .menu-show{ display: block; }

}
/* EXTRA LARGE SCREENS */
@media screen and (min-width: 1201px){

    /* IMAGE LOGO COMPLISE */

    .container-menu-logo-mobile{ display: none; }

    .container-menu-logo-pc{ display: flex; }

    .image-logo{
        width: 40%;
        margin: auto;
        display: block;
    }
    
    /* MENU OPTIONS */

    .container-info{ 
        min-width: 31vw;
        max-width: 32vw;
    }

    .icon-contact{ width: 20px; }
    
    .phone-number{
        font-family: 'Roboto';
        padding-right: 10px;
        font-size: 12px;
        font-weight: 700;
    }
    .searchbar{
        border-radius: 10px;
        margin-right: 10px;
        width: 200px;
    }
    
    .icon-facebook{ font-size: 18px; }
    
    .image-responsive-bg{ height: 90vh; }
    
    /* CAROUSEL */
    
    .text-carousel{
        color: white;
        font-size: calc(1vw + 1rem);
    }
    
    .carousel-caption-mobile{
        opacity: 0;
    }

    .line-title{ width: 20%; }

    .img-cliente{ height: 35vh; width: 400px; }

    .container-icon-menu{
        display: none;
    }

    .list-group-menu{
        
    }

    .menu-show{ display: block; }

}



/* @media screen and (min-width: 320px) and (max-width: 480px){
    
}
@media screen and (min-width: 481px) and (max-width: 768px){

}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px) and (max-width: 1200px){

}
@media screen and (min-width: 1201px){

} */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */