/* SHOW CLASSES */

.show-fondo{ display: none; }

.show-fondo-mobile{ display: none; }

.show-image{ display: flex; }

.show-shadow{ display: block; }

.position-image{ position: absolute; }
.position-shadow{ position: absolute; }

.position-image2{ position: absolute; }
.position-shadow2{ position: absolute; }

.position-image3{ position: absolute; }
.position-shadow3{ position: absolute; }


.content { white-space: pre-line; }

/* PRUEBA */

.carousel-indicators [data-bs-target] { background-color: rgba(0,0,0,0.8)}

.logo-footer{ float: left; margin-left: 2%; }

.size-control{ display: block; }

.row{ margin: 0; }

/* .carousel-caption{ margin-bottom: 10%; } */

.carousel-caption1{ position: absolute; top: 25%; right: 2%; bottom: 1.25rem; left: 35%; padding-top: 1.25rem; padding-bottom: 3.25rem; color: #fff; text-align: end; }
.carousel-caption2{ bottom: 1.25rem; position: absolute; top: 40%; z-index: 1; left: -20%; padding-top: 1.25rem; padding-bottom: 1.25rem; color: #fff; text-align: center; width: 100%; }
.carousel-caption3{ bottom: 1.25rem; position: absolute; top: 20%; z-index: 1; left: -15%; padding-top: 1.25rem; padding-bottom: 1.25rem; color: #fff; text-align: start;}

/* CONTAINER DIVS */
.container-contact-search{ display: flex; padding-top: 1%; }

.container-contact-search a{
    text-decoration: none;
    color: black;
    transition: all linear 0.5s;
}
.container-contact-search a:hover{ color: blue; }

.container-logo{ margin-left: 5%; }

.container-info{ float: right; }

/* INFORMATION CONTACT */
.icon-contact{ width: 20px; }

.phone-number{
    font-family: 'Roboto';
    padding-right: 10px;
    font-size: 12px;
    font-weight: 700;
}
.searchbar{ border-radius: 10px; width: 200px; }

.icon-facebook{ font-size: 1rem; }

/* IMAGE LOGO COMPLISE */
.image-logo{
    width: 100%;
    margin: auto;
    display: block;
}

/* NAVBAR MENU */

.imagen-logo{
    width: 50%;
    height: auto;
    position: relative;
    float: right;
}

.list-group-menu{ list-style: none; }

.list-item-menu{ display: inline; text-align: center ;}

.list-item-menu a{ text-decoration: none; margin-right: 3%; }

.text-option-menu{
    font-size: 1.2rem;
    font-family: 'Distortion Dos Analogue', sans-serif;
    color: rgb(219,0,0);
}

.text-option-menu:hover{ border-bottom: 2px solid rgb(133,205,205); }

.text-option-menu:hover ~ .mostrar-lista { display: block;}

.mostrar-lista{
    display: none;
    transition: all linear 1s;
    border: 1px solid black; 
    width: 20%;
    position: absolute;
}

.list-item-menu-hover{ display: block; }

.margin-icon{ margin-left: 1%; }

.icon-position{
    position: absolute;
    left: 93%;
    top: 15px;
}

.container-menu-logo-pc{
    width: 30%;
    height: auto;
    display: none;
}

.container-menu-options{ width: 70%; height: auto; }

.container-top{
    width: 100%; 
    height: auto;
    z-index: 20;
}

.container-information{
    display: flex;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.container-options{ background: white; }

.position-options{
    display: flex;
    justify-content: flex-end;
    /* margin-right: 5%; */
    /* margin-left: 12%; */
}

.fa-phone{ color: black;  font-size: 15px; }

.phone-number{ color: black; font-size: 10px; }

.fa-facebook{ color: black; font-size: 20px; }

/* CAROUSEL */
.title-carousel{ 
    background-image: linear-gradient(90deg, rgb(219,0,0) 30%, rgb(136, 0, 0) 80%);
    font-family: 'Distortion Dos Analogue', sans-serif;
    font-size: calc(1vw + 2rem);
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.text-carousel{
    color: rgba(96,89,84,1);
    font-weight: 600;
    font-family: 'Roboto';
}

.image-responsive-bg{ width: 100%; height: auto; }

/* TITLE SECTION */

.title-services{
    font-size: calc(1vw + 1rem);
    font-weight: bold;
    text-align: center;
}

/* PROMOCIONES SECTION */

.container-section{
    background: rgba(104, 104, 104, 0.31);
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
}

.container-card{
    display: flex;
    background: white;
    width: 25%;
    height: 200px;
    margin: 2%;
    border-radius: 10px
}

/*  CARDS */

.title-product{ text-align: center; }

.card-img-top{
    width: 95%;
    height: 30vh;
    margin: 0;
    padding: 0;
}

.card{
    border-color: white;
    transition: all linear 0.3s;
    position: relative;
    cursor: pointer;
}

.card:hover{ transform: scaleX(1.05); }


.card-text{
    text-align: justify;
    font-family: 'Roboto';
    font-weight: 800;
}

.card-title{ text-align: center; font-family: 'Arial'; }

.card-img-promo{ width: 100%; height: auto; }

/* SECTION SERVICIOS */

/* SECTION PRODUCTOS */
.container-section-title{
    width: 100%; 
    height: 100px; 
    display: inline-flex;
    transition: all linear 1s;
}

.container-section-title:hover{ animation: floating; }

.side-title{ width: 60%; }

.product-hover{ transition: all linear 0.2s; }

.product-hover:hover{
    background:rgba(104, 104, 104, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.product-hover:hover ~ .title-information-product:hover{
    text-decoration: underline;
}

/* SECTION CLIENTS */

.img-cliente{ height: 10vh; transition: all linear 0.3s;
}

.img-cliente:hover{ transform: scaleX(1.1); }

/* SECTION CONTACT */

.container-contact{
    width: 100%;
    background: rgba(200,200,200,0.4);
    height: auto;
}

.line-title{
    width: 50%;
    margin-left: auto!important;
    margin-right: auto!important;
}

.capahover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all linear 0.3s;
    cursor: pointer;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

.capahover:hover{ opacity: 1; }

/* FONT TITLES SECTION */

.title-color{
    background-image: linear-gradient(90deg, rgb(219,0,0) 30%, rgb(136, 0, 0) 80%);
    font-family: 'Distortion Dos Analogue', sans-serif;
    font-size: calc(1vw + 1.5rem);
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: block;
    margin: auto;
}

/* SECTION PRODUCTOS */

.title-information-product{
    font-weight: 800;
    font-size: 20px;
    font-family: 'Raleway';
    color: rgb(47, 154, 202 );
}

.text-information-product{
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: justify;
}

/* FOOTER SECTION */

.container-footer{
    /* background: linear-gradient(90deg, rgb(219,0,0) 30%, rgb(136, 0, 0) 80%); */
    bottom: 0;
    padding: 0 0;
    position: relative;
    width: 100%;
}

.text-information{ color: white; text-shadow: 2px 2px black; }

/* ANIMACIONES */

.floating{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
.floating2{
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    margin-top: 5px;
}
.floating3{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.reduceHeight{
    animation-name: reduceHeight;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes floating{
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
}

@keyframes reduceHeight{
    0% { height: 100px; }
    20% { height: 100px; }
    40% { height: 105px; }
    60% { height: 110px; }
    80% { height: 115px; }
    100% { height: 120px; }
}
/*  */

/* INYECCION DE FONT PARA TITULOS */
/* @font-face {
    font-family: Distortion;
    src: url('/assets/imgclientes/Distortion.otf');
} */

/************* CLASS MOBILE ***************/

/* LOGO MOBILE  */

.image-logo-mobile{ width: 100%; }

/* MENU MOBILE */

.container-icon-menu{
    position: absolute;
    float: right;
    top: 2%;
    right: 2%;
}

.menu-show{ display: none; }

.panel-lateral-menu{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100vh;
    background: rgba(90,90,90,1);
}

.container-menu-logo-mobile{ display: block; }

.menu-container{ margin: 0 auto; width: 100%; }

.capa-fondo{
    background: rgba(104, 104, 104, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
}

/* CAROUSEL MOBILE */

.carousel-caption-mobile{
    position: absolute;
    right: 0%;
    bottom: 1.25rem;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 2.25rem;
    color: #fff;
    text-align: center;
}

.title-carousel-mobile{
    background-image: linear-gradient(90deg, rgb(219,0,0) 30%, rgb(136, 0, 0) 80%);
    font-family: 'Distortion Dos Analogue', sans-serif;
    font-size: calc(1vw + 1rem);
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: block;
}

.text-carousel-mobile{
    color: rgba(96,89,84,1);
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 12px;
}

.container-bg-gray{
    background: rgba(200,200,200,0.3);
}

.responsive-size-image{
    margin: auto; display: block;
}

.margin-space{ margin-left: 15px; }

.img-size-cliente{
    width: 100%;
}

/* MOBILE DEVICES */
@media screen and (min-width: 320px) and (max-width: 480px){

    /***************     ***************/

    .text-information{ font-size: calc(0.1vw + 0.6rem); }

    .container-top{ display: none; }

    /*********************************************/
    
    /************ IMAGE LOGO COMPLISE **************/

    .image-logo-mobile{ width: 20%; }
    
    .container-menu-logo-mobile{ display: flex; margin: 1%; }
    
    .container-menu-logo-pc{ display: none; }

    /**************************************************/
    
    /******** INFORMATION CONTACT ***********/
    
    .container-menu-options{ display: none; }

    /*****************************************************/

    /********* CAROUSEL ************/
    
    .text-carousel{ color: white; font-size: 30px; }

    .text-carousel-mobile{ font-size: calc(1vw + 0.6rem); }

    .carousel-caption{ opacity: 0; }

    .show-fondo-mobile{ display: block; }

    .position-image{ display: none; }

    .position-shadow{ display: none; }
    
    .position-image2{ display: none; }

    .position-shadow2{ display: none; }

    .position-image3{ display: none; }

    .position-shadow3{ display: none; }

    .show-shadow{ display: none; }

    .title-carousel-mobile{ font-size: calc(1vw + 1.5rem); }

    /***************************************************/

    /*********** NAVBAR MENU ************/

    .panel-lateral-menu{ width: 100%; } 
    
    .list-item-menu{ font-family: 'Raleway'; display: block; margin-top: 10%; }

    .list-item-menu a{ color: white; }

    .menu-container{ width: 100%; }
    
    .container-logo{ margin-left: 1%; }
    
    .container-info{ margin-left: 1%; }

    .phone-number{ font-size: 10px; }

    .searchbar{ width: 30vw; font-size: 10px; height: 30px;}

    .fa-facebook{ font-size: 15px; margin-right: 1%;}

    .fa-phone{ font-size: 12px; }

    .fa-search{ font-size: 14px;}
    
    .list-group-menu{ list-style: none; }

    .image-responsive-bg{ min-height: 30vh; max-height: 50vh; }
    
    .carousel-cation{ margin-bottom: 20%; }

    .margin-icon{ margin-left: 3%; }

    /*****************************************************/

    /********** CONTENIDO ***********/
    
    .card-img-top{ height: 20vh; width: 20vh; display: block; margin: auto; }

    .floating{ margin-left: 0px; }

    .floating2{ margin-left: 0px; }

    .floating3{ margin-left: 0px;}  

    .card-text{ font-size: calc(1vw + 0.5rem); }

    .container-section-title{ height: 20px; }

    .title-information-product{ font-size: calc(1vw + 0.9rem); }

    .text-information-product{ font-size: calc(1vw + 0.6rem);}

    .line-title{ width: 45%; }
    
    .img-cliente{ height: 20vh; }
    
    .side-title{ width: 30%; }

    /******************************************/
    
    .responsive-size-image{ width: 25%;}

    .row{ margin: 0px !important; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }

    .text-information{ font-size: 12px; }

    /*********** FOOTER ***********/

    .logo-footer{ width: 100%; }

    /***************************************/

}
/*>>>>>>>>>>>>> IPADS - TABLETS <<<<<<<<<<<<<<<*/
@media screen and (min-width: 481px) and (max-width: 768px){

    /*****************       *****************/
    .size-control{ display: flex; }

    .container-top{ display: none; }

    /*********************************************/

    /*********** IMAGE LOGO COMPLISE *********/

    .image-logo-mobile{ width: 20%; }

    .container-menu-logo-mobile{ display: flex; margin-bottom: 2%; margin-left: 2%; }

    .container-menu-logo-pc{ display: none; }
    /******************************************/

    /****** INFORMATION CONTACT **********/

    .container-menu-options{ display: none; }

    /*******************************************/

    /************** CAROUSEL ***************/

    .carousel-caption{ opacity: 0; }

    .carousel-caption-mobile{ margin-bottom: 15%; }

    .title-carousel-mobile{ font-size: 2rem; }

    .text-carousel-mobile{ font-size: 1.6rem; }

    /***************************************/

    /************** LATERAL MENU **************/
    .panel-lateral-menu{ width: 50%; } 
    
    .list-item-menu{
        font-family: 'Raleway';
        display: block;
        margin-top: 10%;
        font-size: 1.5rem;
    }
    .list-item-menu a{ color: white; }

    .menu-container{ margin: 0 auto; width: 100%; }
    
    .container-logo{ margin-left: 1%; }

    .container-info{ margin-left: 25%;}

    .searchbar{ width: 28vw; }

    .fa-facebook{ font-size: 20px; }

    .list-group-menu{ list-style: none; margin-left:10%; }

    .fa-bars{ font-size: 2rem; }

    .image-responsive-bg{ height: 30vh; }

    .line-title{ width: 40%; }

    .card-img-top{ height: 20vh; }

    .imagen-service{ height: 20vh; }

    .img-cliente{ height: 20vh; width: 200px;}

    .side-title{ width: 30%; }

    /****************************************************/

    .responsive-size-image{ width: 20%; }

    .title-carousel{ display: none; }

    .text-carousel{ display: none; }

}

/*>>>>>>>>>>> SMALL SCREENS , LAPTOPS <<<<<<<<<<<<*/
@media screen and (min-width: 769px) and (max-width: 1024px){

    /*************     *************/

    .size-control{ display: flex; }

    .container-top{ display: none; }

    /***********************************/

    /********* IMAGE LOGO COMPLISE **********/

    .image-logo-mobile{ width: 30%; }

    .fa-bars{ font-size: 2rem; }

    .container-menu-logo-mobile{ display: flex; margin-bottom: 2%; margin-left: 2%; }

    .container-menu-logo-pc{ display: none; }

    .list-item-menu {
        font-family: 'Raleway';
        display: block;
        margin-top: 10%;
    }
    /*********************************************/

    /************ INFORMATION CONTACT ************/

    .container-menu-options{ display: none; }

    /*******************************************/

    /************ CAROUSEL *************/

    .carousel-caption{ margin-bottom: 20%; }

    .carousel-caption-mobile{ opacity: 0; }

    .menu-container{ margin: 0 auto; width: 100%; }
    
    .container-logo{ margin-left: 1%; }

    .container-info{ margin-left: 30%; }

    .searchbar{ width: 28vw }

    .card-img-top{ height: 20vh; }

    .imagen-service{ height: 20vh; }

    .line-title{ width: 30%; }

    .img-cliente{ height: 20vh; width: 200px;}

    .carousel-caption{ margin-bottom: 10% }

    .text-carousel{ font-size: 25px; }

    .list-item-menu a { color: white; }

    .panel-lateral-menu{ width: 50%; }

    /********************************************/
}

/*>>>>>>>>>>> DEKTOPS, LARGE SCREENS <<<<<<<<<<<<<<*/
@media screen and (min-width: 1025px) and (max-width: 1200px){

    .size-control{ display: flex; }

    .menu-container{ margin: 0; display: none; }

    /*********** IMAGE LOGO COMPLISE ************/

    .container-menu-logo-mobile{ display: none; }

    .container-menu-logo-pc{ display: flex; }

    .image-logo{
        width: 40%;
        margin: auto;
        display: block;
    }
    /******************************************/

    /************* MENU OPTIONS **************/

    .container-info{ min-width: 34vw; max-width: 35vw; }

    .container-icon-menu{ display: none; }

    .list-group-menu{ padding-left: 70%; }

    /**************************************************/

    /************* CAROUSEL **************/

    .text-carousel{ /* color: white; */ font-size: calc(1vw + 1rem); }

    .carousel-caption-mobile{ opacity: 0; }

    .line-title{ width: 30%; }

    .img-cliente{ height: 35vh; width: 200px;}

    .menu-show{ display: block; }

    /********************************************/

}

/*>>>>>>>>>>> EXTRA LARGE SCREENS <<<<<<<<<<<<<<<*/
@media screen and (min-width: 1201px){

    .size-control{ display: flex; } 

    .menu-container{ margin: 0; display: none; }

    /**************** IMAGE LOGO COMPLISE ****************/

    .container-menu-logo-mobile{ display: none; }

    .container-menu-logo-pc{ display: flex; }

    .image-logo{
        width: 40%;
        margin: auto;
        display: block;
    }

    /****************************************/
    
    /**************** MENU OPTIONS **************/

    .container-info{  min-width: 28vw; max-width: 32vw; }

    .icon-contact{ width: 20px; }
    
    .phone-number{
        font-family: 'Roboto';
        padding-right: 10px;
        font-size: 10px;
        font-weight: 700;
    }

    .searchbar{
        border-radius: 10px;
        margin-right: 10px;
        width: 200px;
    }
    
    .icon-facebook{ font-size: 18px; }
    
    .image-responsive-bg{ min-height: 80vh; max-height: 85vh;  }

    .list-group-menu{ padding-left: 70%; }

    .icon-position{ left: 97%; }

    .position-options{ margin-left: 7.5%; }

    /**********************************************/
    
    /*********** CAROUSEL ***********/
    
    .text-carousel{ font-size: calc(1vw + 0.8rem); }

    .title-carousel{ padding-left: 42%;  font-size: calc(1vw + 3rem) !important;}

    .text-carousel{ padding-left: 36%; }
    
    .carousel-caption-mobile{ opacity: 0; }

    .carousel-caption{ left: 30%; }

    .carousel-indicators{ color: black; }

    .line-title{ width: 20%; }

    .img-cliente{ height: 20vh; width: 150px; }

    .container-icon-menu{ display: none; }

    .menu-show{ display: block; }

    .carousel-indicators{ bottom: 15px; }

    .side-title{ width: 60%; }

    .card-text{
        margin-left: 20px;
        margin-right: 20px;
    }

    .show-fondo{ display: block; }

    .position-image{ top: 50px; z-index: 1; left: 90px; width: 510px; }

    .position-shadow{ top: -5px; left: 35px; width: 600px; z-index: 0 }

    .position-image2{ position: absolute; top: 120px; z-index: 1; left: 250px; width: 1380px; }

    .position-shadow2{ position: absolute; top: 115px; left: 270px; width: 1340px; z-index: 0; }

    .position-image3{ position: absolute; top: 50px; z-index: 1; left: 1300px; width: 465px; }

    .position-shadow3{ position: absolute; top: 5px; left: 1270px; width: 550px; z-index: 0; }

    /*****************************************************************/

    .responsive-size-image{
        width: 5%;
    }

    .carousel-caption2{
        top: 35%;
    }

    /*************** FOOTER ***************/

    .logo-footer{ width: 30%; }

    /**************************************/

    .margin-space{
        margin-left: 10px;
    }

    .img-size-cliente{ width: 80%; margin-right: 10%; margin-left: 10%; margin-top: 2%; margin-bottom: 2%}

}