<div class="animate__animated animate__fadeIn">

    <div class="container-formulary">
 
        <div class="animate__animated animate__fadeInDown">
            <p class="title-section">Contactanos</p>
            
            <p class="text-section">Nombre y apellidos:</p>
            <input type="text" class="input-information" />
            
            <p class="text-section">Nombre de la empresa:</p>
            <input type="text" class="input-information" />
            
            <p class="text-section">Correo eletrónico:</p> 
            <input type="text" class="input-information" />
            
            <p class="text-section">Número teléfonico:</p>
            <input type="number" class="input-information"/>

            <p class="text-section">Describenos tu requerimiento:</p>
            <textarea class="input-information mx-auto d-block" style="width: 200px; height: 200px;">

            </textarea>

            
            <button type="submmit" class="button">
                Enviar
            </button>
        </div>

         </div>

</div>

